.mainNosotros {
    display: flex;
    justify-content: center;
    .nosotroscontainer {
        max-width: 1000px;
        .nosotrosTitulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px 0px;
            h1 {
                font-size: 13rem;
                font-weight: bolder;
                letter-spacing: 15px;
                font-family: $second-font;
                @include tablet {
                    font-size: 10rem;
                }
                @include mobileLg {
                    font-size: 6rem;
                }
                @include mobileSm {
                    font-size: 5rem;
                }
            }
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                @include mobileSm {
                    font-size: 1.2rem;
                }
            }
        }
        .nosotrosPLUR {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 30px 0px;
            .nosotrosPLURIconos {
                display: flex;
                flex-direction: column;
                .nosotrosPLURIconosContianer {
                    img {
                        padding: 20px;
                        @include mobileLg {
                            width: 140px;
                            height: 140px;
                        }
                        @include mobileSm {
                            width: 140px;
                            height: 140px;
                        }
                    }    
                }           
            }
            .nosotrosPLURText {
                p {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    text-align: justify;
                    padding: 50px;
                    max-width: 600px;
                    @include mobileLg {
                        font-size: 0.9rem;
                        padding: 20px;
                    }
                    @include mobileSm {
                        font-size: 0.9rem;
                        padding: 15px;
                    }
                }
            }
        }
        .nosotrosAboutUsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 30px 0px;
            .aboutUsYBotonContacto {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                }
                p {
                    font-family: 'Montserrat', sans-serif;
                    text-align: justify;
                    padding: 50px;
                    max-width: 600px;
                    @include mobileLg {
                        font-size: 0.9rem;
                        padding: 20px;
                    }
                    @include mobileSm {
                        font-size: 0.9rem;
                        padding: 15px;
                    }
                }
            }
            .AboutUsLogo {
                img {
                    @include mobileLg {
                        width: 300px;
                        height: 300px;
                    }
                    @include mobileSm {
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }
    }
    
}

