#productorasmain {
    margin: 0px 200px;
    margin-top: 116px;
    .productora {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
        .productorasInfoLogo {
            @include mobileLg {
                width: 300px;
                height: 300px;
            }
            @include mobileSm {
                width: 280px;
                height: 280px;
            }
        }
        .productoraInfo {
            padding: 30px 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            max-width: 800px;
            h3 {
                text-align: center;
                font-weight: 100;
                font-size: 3rem;
                @include mobileLg {
                    font-size: 2rem;
                }
                @include mobileSm {
                    font-size: 2rem;
                }
            }
            p {
                padding-top: 20px;
                line-height: 1.5;
                text-align: justify;
                @include tablet {
                    width: 400px;
                }
                @include mobileLg {
                    width: 300px;
                }
                @include mobileSm {
                    width: 280px;
                }
            }
            .productoraRRSS {
                display: flex;
                justify-content: end;
                .productoraLinkRRSS {
                    display: flex;
                    justify-content: space-evenly;
                    margin-right: 20px;
                    a {
                        margin: 0px 10px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}


 