@import 'media-queries';
@import 'index';
@import 'eventos';
@import 'productoras';
@import 'galeria';
@import 'nosotros';

/* VARIABLES */
$main-color: #212529;

/* ESTILOS GENERALES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

#main {
    margin-top: 66px;
}
